<h1>Welcome New Patient!!!</h1>
<br>

<h2>We will need some info from you!</h2>

<form action="/signup" method="post">
  <label>Name:<input type="text" name="name"></label><br>
  <label>Email:<input type="text" name="email"></label><br>
  <label>Password:<input type="password" name="password"></label><br>
  <br><br>
  <h2>We also need your insurance and dentist info!</h2>
  <h4>Choose from below or type in if not found</h4>

  <h4>Insurance</h4>
  <%@insurances.each do |insurance|%>
    <input type="checkbox" name="user[insurance_id]" id="<%= insurance.id %>" value="<%=insurance.id%>"><%=insurance.company%></input>
  <%end%><br>
  <input  type="text" name="insurance[name]" id="insurance_name"></input><br>

  <h4>Dentist</h4>
  <%@dentists.each do |dentist|%>
    <input type="checkbox" name="user[dentist_id]" id="<%= dentist.id %>" value="<%=dentist.id%>"><%=dentist.name%></input>
  <%end%><br>
  <input  type="text" name="dentist[name]" id="dentist_name"></input>

  <input type="submit" name="" value="Welcome!" class="button">
</form>
