  <section>
    <label style="font-size:200%;">Welcome <%=@user.name%>!!!</label>
  </section>
</div>

<div class="wrapper clearfix">
  <section class="col-2 first">
    <h2>I sure do hope you like our company!<br>Here is your info!</h2>

    <h3>Your dentist is currently <%=@user.dentist.name%>.<br>
    <%=@user.dentist.name%> charges and estimated $<%=@user.dentist.fee%> per visit. <br>
    <%=@user.insurance.company%> reduces that price by $<%=@user.insurance.coverage%><br><br>

    This brings your estimated Co-Pay to <%=(@user.dentist.fee) - (@user.insurance.coverage)%>!</h3>
  </section>

  <section class="col-1">
    <br><br>
    <%if session[:developer?]%>
    <a href="/dentists/dev" class="small_button">Admin Options</a><br><br><br>
    <%end%>

    <a href="/user/<%=session[:user_id]%>/edit" class="small_button">Edit Info</a><br><br><br>
    <a href="/dentists" class="small_button">Shop Dentists</a><br><br><br>
    <a href="/user/<%=session[:user_id]%>/delete" class="small_button">Delete Account</a><br><br><br>
  </section>
