  <section class="col-3 first clearfix">
    <label style= "font-size: 300%;"><%= @dentist.name %> charges $<%= @dentist.fee %></label>
    <a href="/dentists" style="float:right;" class="small_button">Back to Index</a>
  </section>

  <section class="col-1 first clearfix">
    <form action="/dentists/<%=@dentist.id%>" method = "post">
      <label> Create a comment <%= @user.name %>??</label><br>
      <textarea name="content" value="Type here!"></textarea>
      <input type="submit" value="Submit!" class="small_button">
    </form>
  </section>

  <section id="dentist_comments" class="col-2 clearfix">
    <% @comments.each do |comment| %>
      <div class="each_comment">
        <label><%= comment.user.name%></label> wrote
        <p>"<%= comment.content %>"</p>
        <% if session[:user_id] == comment.user_id %>
        <a href="/comments/<%=comment.id%>/edit" class="small_button">Edit</a>
        <a href="/comments/<%=comment.id%>/delete" class="small_button">Delete</a><br><br>
        <% end %>
      </div><br>
    <% end %>
  </section>
